<footer>Tara Fenton: <a href="http://github.com/tara-fenton">github</a> |
    <a href="http://linkedin.com/in/tara-fenton">linkedin</a> |
    <a href="http://tarafenton.com">website</a>
</footer>
</body>

</html>