<nav>
  <a href="/">Home</a>

  <% if (user) { %> <a href="/playlists?user=<%=user._id%>">My Playlists</a> <%
  } %>

  <a href="/playlists">Playlists</a> <a href="/songs">Songs</a>
</nav>
<h1><%= title %></h1>
