<%- include('./partials/header') %>

<div class="container">
  <h1>Some shit about this being an app you can make playlists and add songs. Connected to the SpotifyAPI</h1>
</div>

<%- include('./partials/footer') %>