<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <form action="/playlists" method="POST">
      Title:<input type="text" name="title" /> <button>Add a Playlist</button>
    </form>
  </body>
</html>
